body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    overflow: scroll;
    background-color: #111211;
}

div.main-content{

    max-width: 1500px;
    width: 1400px;
    max-height: 1300px;
    height: 3000px;
    border-style: solid;
    border-color: black;

    margin: auto;

    text-align: center;
    border: 2px solid #020202;
    padding: 20px;
    border-radius: 8px;
    background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
                radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
}


#WebTitle{
    margin: 0;
    padding: 0;
    text-align: center;
    top: 0;
    font-family: "VT323";
    font-size: 80px;
    text-shadow:
            3px 3px 0 gold, /* Main text shadow for the 3D effect */
    0 0 5px gold;   /* Border shadow for the top border */

}

.main-content img{

    border-color: blueviolet;
    border: 10px;
    border-style: ridge;

}

.button-container {
    text-align: center;
}


.button {
    display: inline-block;
    padding: 20px;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 25px;
    cursor: pointer;
    border: 2px solid #000000;
    border-radius: 8px;
    margin: 10px;
    background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
    radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
    color: black;
    text-shadow:
            1.5px 1.5px 0 gold; /* Main text shadow for the 3D effect */


    position: relative;
    transition: all 0.7s ease;
    overflow: hidden;
    box-shadow: 5px 10px black;

}



.button:hover {
    filter: invert(1);
    transition: all 0.7s ease;
    color: rgb(255, 223, 0);
    box-shadow: 0px 0px 20px gold;
    text-shadow: 2px 2px 1px black;
}



table {
    border-collapse: collapse;
    width: 80%;
    margin-top: 20px;
}

th, td {
    border: 2px solid #FFD700;
    padding: 8px;
    text-align: center;
    color: rgb(0, 0, 0);
}

@media only screen and (max-width: 600px) {
    .header a{
        float:none;
        display: block;
        text-align: left;
    }
    .main-content{
        width: 100%;
        font-size: 22px;
    }
}
